<ng-container *ngIf="purchaseData.length > 0;else thisOne">
    <h1><u>Checkout</u></h1>
    <div *ngFor="let val of purchaseData;let i=index" style="display: inline-block; width: 16%; height: 280px; margin: 1%;">
        <mat-card class="add1">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div style="text-align: center;">
                    <div>
                        <img src="http://localhost:8055/uploads/{{val.variant_image[0]}}"
                            alt="product image" height="155px" width="85%" />
                    </div>
                    <p>{{val.name}}</p>
                    <p>{{val.price | currency : 'INR' }}</p>
                    <div>
                        <button [disabled]="val.qty<=1" (click)="decreaseQuantity(i)">-</button>
                        <input disabled type="number" value="{{val.qty}}">
                        <button (click)="increaseQuantity(i)">+</button>&nbsp;
                        <button mat-button class="btn" (click)="removeProduct(i)">Remove</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <button mat-button class="next" (click)="add()">next<mat-icon>arrow_forward</mat-icon></button>
</ng-container>
<ng-template #thisOne>
    <h1>purchaseData is empty</h1>
</ng-template>
    <!-- <p>
        <app-shipping-address></app-shipping-address>
    </p> -->
