input {
    width: 20px;
    text-align: center;
    border: 1px solid rgb(197, 185, 185);
}

.div {
    display: inline-block;
    width: 15%;
    margin: 1%;
    background-color: antiquewhite;
}
.example-card{
    background-color: rgb(193, 127, 255);
}
.b1{
    color: black;
    background-color: rgb(205, 11, 11);
}
.btn{
    font-size: small;
    color: black;
    background-color:rgb(156, 116, 212);
}
.bt{
    color: black;
    float: right;
}