.container {
  background-color: rgb(89, 86, 89);
    max-width: 250px;
    max-height: 500px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3b3939;
    // background-color: #ec88f5;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    color: #fff9f9;
  }
  
  .button:hover {
    background-color: #ec88f5;
  }
  