.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cc73ff;
    border: 5px solid #646464;
    border-radius: 5px;
}button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    opacity: 5.5;
    cursor: not-allowed;
}

button[type="button"] {
    margin-left: 10px;
    background-color: #e7a6fb;
    color: #000;
}
b{
    color: #050202;
    font-size: larger;
}
a{
    color: rgb(0, 0, 199);
    text-decoration: none;
}
h1{
    color: rgb(255, 255, 255);
}