<form [formGroup]="taxForm" (ngSubmit)="onSubmit()" class="tax-form">
    <h1>Add Taxes</h1>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" class="form-control">
        <span *ngIf="taxForm.get('title').invalid && (taxForm.get('title').dirty || taxForm.get('title').touched)"
            class="error">
            <span *ngIf="taxForm.get('title').errors.required">
                * Title is required.
            </span>
        </span>
    </div>


    <div class="form-group">
        <label for="tax">Tax in (%)</label>
        <input type="text" id="tax" formControlName="tax" class="form-control">
        <span *ngIf="taxForm.get('tax').invalid && (taxForm.get('tax').dirty || taxForm.get('tax').touched)"
            class="error">
            <span *ngIf="taxForm.get('tax').errors.required">
                * Tax is required.
            </span>
        </span>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="taxForm.invalid" class="btn btn-primary">Add</button>
    </div>
</form>