.color{
    background-color:rgb(146, 32, 180);
    margin-top: 1px;
    padding-bottom: 50px; /* adjust the value to match your footer height */
  }
  .content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
}


footer {
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
}
